.body {
    background-color: rgb(255, 203, 91);
    font-family: "Michroma", sans-serif;
}

.ukranian {
    width: 50px;
    height: 25px;
}

.english {
    width: 50px;
    height: 25px;
}

.title-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.short-description-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.the-beginings-wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.procesed-basic-resourses {
    display: flex;      
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 30px;            
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto;       
}

.procesed-basic-resourses > div {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;   
    width: 150px;           
}

.raw-basic-resourses {
    display: flex;      
    flex-wrap: wrap;     
    justify-content: center; 
    gap: 30px;            
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto;       
}

.raw-basic-resourses > div {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;   
    width: 150px;           
}

.basic-crafting-recepies {
    display: flex;      
    flex-direction: column;  
    gap: 40px;              
    padding: 20px;
    max-width: 1200px;     
    margin: 0 auto; 
}

.recepie {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;       
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;            
}

.recepie > div{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;   
    width: 100px;           
}

.image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}

.image-for-crafting {
    min-width: 75px;
    min-height: 75px;
    max-width: 76px;
    max-height: 76px;
    object-fit: contain;
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}
